body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 50px;
    background-color: #cf4506;
}
h1 {
    color: #4caf50;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left 
}
button:hover {
    background-color: #0056b3;
}

.link-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.link-button:hover {
    background-color: #0056b3;
}
